{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <!--SEO-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <meta name="author" content="Emre AKTÜRK">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />

    <!-- STYLE FILES -->
    <link rel="shortcut icon" href="
        {% if favicon %} 
        	{{favicon.url}} 
        {% else %} 
        	{% static 'img/avatar.png' %} 
        {% endif %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css'%}">


    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<!-- BODY -->

<body>
    <div class="container-fluit">
        {% include 'header.html'%} {% include 'messages.html' %} {% block content %} {% endblock %} {% block comment %} {% endblock %} {% block comment_show %} {% endblock %}
    </div>

    {% include 'footer.html' %}

</body>

</html>