{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} {{yazi.title}} {% endblock %}
{% block keywords %}{{ yazi.keywords }}{% endblock %}
{% block description %}{{ yazi.description }}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11 col-lg-offset-1">
            <br><p style="font-size: 30px">{{yazi.title |safe}}<p>
            <br>{{yazi.article | safe}}<br>

        </div>
    </div>
</div><br>

{% for i in comments %}
{% if i.slug == yazi.slug %}
<div class="container">
	<div class="row">
		<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<div class="media" style="background-color:#F7F7F7; border: 3px solid #F7F7F7; border-radius: 10px;">
			  <div class="media-left">
			    <img src="{% static 'img/avatar.png' %}" class="media-object" style="width:60px">
			  </div>
			  <div class="media-body">
			    <p class="media-heading" style="font-size: 21px; color: #617AAC;">{{i.name}} says:</p>
			    <p>( {{i.created_date}} )</p><br>
			    <p>{{i.comment}}</p>
			    
			    
			  </div>

			</div>
		</div>
	</div>
</div><br>
{% endif %}  	
{% endfor %}



<div class="container">
	<div class="row">
		<div class="col-xs-7 col-sm-6 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<p style="font-size: 25px;">Yorum Yap:</p><br>
			<form method="POST" autocomplete="off">{% csrf_token %}
				{{comment_form.as_p}}
			   	<button type="submit" class="btn btn-primary">Gönder</button>	
			   	<p>Göndere Bastıktan Sonra Captcha yi Kontrol Ediniz.<br>Büyük Küçük Harf Duyarlılığina Dikkat Ediniz. </p>
				
			</form>
			
		</div>
	</div>
</div>

{% endblock %}


